<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategoryServlet</servlet-name>
        <servlet-class>controller.ManagerCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>controller.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>controller.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductServlet</servlet-name>
        <servlet-class>controller.ManagerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProductServlet</servlet-name>
        <servlet-class>controller.UploadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBrandServlet</servlet-name>
        <servlet-class>controller.ManagerBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsletterServlet</servlet-name>
        <servlet-class>controller.NewsletterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryServlet</servlet-name>
        <servlet-class>controller.DeliveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServletx</servlet-name>
        <servlet-class>controller.InsertProductServletx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategoryServlet</servlet-name>
        <url-pattern>/ManagerCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/ChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/LogoutAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductServlet</servlet-name>
        <url-pattern>/ManagerProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProductServlet</servlet-name>
        <url-pattern>/UploadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBrandServlet</servlet-name>
        <url-pattern>/ManagerBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsletterServlet</servlet-name>
        <url-pattern>/NewsletterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryServlet</servlet-name>
        <url-pattern>/DeliveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServletx</servlet-name>
        <url-pattern>/InsertProductServletx</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
